.login-bg{
	background-image:url(../img/bg.png);
	width:100%;
	height:238px;
	z-index:1000;
	position:fixed;
	top:35%;
	left:0%;
}

.login-bloc{
	z-index:1010;
	width:100%;
	height:100%;
	position:fixed;
	top:12%;
	margin-left:0px;
	margin-right:0px;
	
}

.login-bloc-logo{
	background-image:url(../img/logo-general.png);
	background-repeat:no-repeat;
	width:100%;
	height:89px;
	margin:0 40%;
	margin-bottom:15px;
	
	
}
.login-ginsurance-bloc-logo{
	background-image:url(../img/logo-ginsurance.png);
	background-repeat:no-repeat;
	width:100%;
	height:89px;
	margin:0 40%;
	margin-bottom:15px;
	
	
}

.login-bloc-form{
	background-image:url(../img/bloc-login.png);
	background-repeat:no-repeat;
	width:466px;
	height:332px;
	margin:0 31.1%;
	padding-top:10px;
	padding-left:73px;
	padding-right:73px;
}

.login-bloc-form h2 {
	color:#2b5b83;	
	font-size:15px;
	margin-bottom:35px;
	font-family:"Myriad Pro";
	
}
.login-bloc-form h3 {
	color:#2b5b83;	
    font-size: 11px;
    font-family:"Myriad Pro";
    font-weight: normal;
    margin-bottom: 89px;
    width: 325px;
	
}
.login-bloc-form span{
	color:#aaaaaa;	
	font-size:13px;
	font-family:"Myriad Pro";
	
}

.form-input{
	display:block;
	font-weight:bold;
	font-family:"Myriad Pro";
}

.form-input input{
	width:67%;
	height:30px;
	color:#aaaaaa;	
	font-size:13px;
	font-family:"Myriad Pro";
	
}

#passwordLabel{
	margin-top:15px;
}

.connexion-btns{
	margin-top:11px;
}



form .form-button{
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-family:"Myriad Pro";
    font-weight: bold;
   	background-repeat:no-repeat;
    height: 38px;
    border-radius: 5px;
    cursor:pointer;

}
form .login-btn{
	 width: 107px;
	 background-image: url("../img/bouton-login.png");
	 margin-right:21px;
}
form .signup-btn{
	 width: 195px;
	background-image: url("../img/bouton-signup.png");
}
.password-op{
	margin-top:25px;
}
.password-op span input{
	vertical-align:sub;
	transform: scale(1.3);

 	/* Webkit browsers*/
    -webkit-transform: scale(1.3);
}
.password-op span{
	display:block;
}
.password-op label{
	display:block;
	margin-left:3px;
	margin-top:5px;
}
.login-bloc-form label *{
	font-size:13px;
	font-family:"Myriad Pro";
	color:#aaaaaa;
	text-decoration:none;
	cursor:pointer;
}


.pwd-recovey-bloc{
	background-image:url(../img/pwd-recover-bg.png);
}





