.imageMiniatureBleu{
	background-image: url("../images/miniatures/deepblue.png");
}

.imageMiniatureRed{
	background-image: url("../images/miniatures/redemption.png");
}

.imageMiniatureDevelopr{
	background-image: url("../images/miniatures/newdesign.png");
}
