.tabTitle{
	color:rgb(75, 75, 75);
}

.ui-menuitem-text{
	color: black;
}

.ui-editor {
	width: 100% !important;
}

.ui-chkbox-box {
	border: 1px solid gray !important;
}

.select-wizard {
	background: #87ba17 !important;
}

.ui-panel .ui-panel-titlebar {
	padding: 8px 10px 8px 10px;
}

.ui-selectonemenu-trigger {
	background: #C2C2C2 !important;
	box-shadow: inset 0px 1px 0px #919191;
}

/* .ui-datepicker .ui-datepicker-calendar .ui-state-default { */
/* 	background: -webkit-linear-gradient(top, #A5A5A5, #838383) !important; */
/* } */

.ui-datepicker .ui-datepicker-header {
/* 	background: -webkit-linear-gradient(top, #D8D8D8, #E4E4E4) !important; */
	color: rgb(109, 109, 109);
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    color: #5F83B9 !important;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-highlight, .ui-datepicker .ui-datepicker-current-day .ui-state-default {
 	color: #FFFFFF !important;
}
.datableStyle {
	border-radius: 10px;
}

.tableButton {
	margin: 10px !important;
	color: black !important;
	float: right !important;
}

.ui-widget button {
	font-weight: bold !important;
	font-size: 13px !important;
}

.ui-widget-header {
	/*border: 0px !important;*/
	
}

.panelfiltre {
	border: 1px solid #bfbfbf !important;
	position: relative !important;
	background-color: white !important;
	color: #666666 !important;
	-webkit-border-radius: 9px !important;
	-moz-border-radius: 9px !important;
	border-radius: 9px !important;
	margin: auto !important;
	width: 100% !important;
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf) !important;
}

.ui-panel .ui-panel-content {
	/*border: 1px solid rgb(221, 221, 221) ! important;*/
	padding: 0px !important;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	color: #006aac;
	font-weight: bold;
	text-shadow: 0px 0px 0px;
}

.ui-state-default .ui-icon {
	background-image:
		url("/prometheus/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-datatable .ui-sortable-column-icon {
	right: 0 !important;
}

.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td
	{
	border-style: dotted;
	vertical-align: middle;
}

.ui-panel {
	padding: 0px;
}

.ui-panel .ui-panel-titlebar-icon {
	float: right;
}

.ui-dashboard-column {
	float: none;
	padding-left: 20px;
	padding-right: 20px;
}

.ui-datatable table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #cccccc;
	border-top: 0
}

.ui-datatable tbody td {
	padding: 9px 10px;
	border-top: 1px solid #e6e6e6;
	border-left: 1px dotted #cfcfcf;
	vertical-align: top;
	overflow: inherit;
	/*background: #f0f0f0;*/
}